@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica-light";
  src: url("../../assets/fonts/helvetica-light.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica-rounded";
  src: url("../../assets/fonts/helvetica-rounded-bold.otf") format("opentype");
}

.comp-produto {
  width: 900px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.04);

  margin-left: 310px;
  margin-bottom: 50px;
  padding: 25px;

  z-index: 0;

  .titulo {
    color: #293241;
    text-align: center;
    
    

    -webkit-text-stroke-color: #293241;
    font-family: "helvetica", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }

  .conteudo {
    padding-top: 20px;
    margin-bottom: -60px;
    width: 500px;
    height: 244px;
    flex-shrink: 0;

    color: #293241;

    -webkit-text-stroke-color: #293241;
    font-family: "helvetica-light", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .itens {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    
  }

  .conteudo-item {
   display: flex;
   flex-direction: row;
   gap: 10px;
    
    width: 346px;
    height: 30px;
    flex-shrink: 0;

    color: #293241;
    font-family: "helvetica-rounded", sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
   
    
  }
  .imagem {
   margin-left: 510px;
   margin-top: -220px;
    width: 340px;
    height: 390px;
  }
}
