@font-face {
  font-family: "helvetica-bold";
  src: url("../../assets/fonts/Helvetica-Bold.ttf") format("truetype");
}

.comp-carrossel {
  display: flex;
  flex-direction: row;
  .item-carrossel {
    width: 220px;
    height: 200px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    margin: 40px;

     cursor: pointer;
  text-decoration: none;
    .imagem {
      width: 152px;
      height: 150px;
      margin-left: 40px;
    }
    .titulo {
      color: #293241;
      text-align: center;
      -webkit-text-stroke-color: #293241;
      font-family: "helvetica-bold", sans-serif;
      font-size: 24px;
      padding-top: 8px;
     
    }
  }
}
