@font-face {
  font-family: "helvetica-light";
  src: url("../../assets/fonts/helvetica-light.ttf") format("truetype");
}

.comp-bottom {
  display: flex;
  padding: 63px 1147px 22px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  border-radius: 4px;
  background: #293241;

  .telefone {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "helvetica-light", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .email {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "helvetica-light", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
