@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/Helvetica.ttf") format("truetype");
}

.pagina-principal-pedido {
  height: auto;
  background: #d9f0ff url("/assets/images/fundo.png") repeat;
  background-size: 80px 80px;
  background-blend-mode: normal, plus-lighter;

  main {
    display: flex;
    flex-direction: row;
    width: 1350px;
    height: 600px;
    flex-shrink: 0;

    background: #fff;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin-left: 100px;
    margin-top: 138px;

    .main-02 {
      .lista-pedido-topo {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 40px;
        .titulo {
          color: #293241;
          font-family: helvetica, sans-serif;
          font-size: 35px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .ferramentas {
          margin-left: 703px;
        }
      }

      .lista-pedido {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 490px;
        margin-top: 40px;
        margin-left: 40px;

        input {
          border-radius: 5px;
          margin-right: 20px;
        }
        .info-item-lista-pedido {
          padding-left: 38px;
          margin-bottom: 20px;
          display: grid;
          grid-auto-flow: column;
          column-gap: 1rem;
          align-items: center;

          grid-template-columns:
            3%
            10%
            20%
            28%
            10%;
        }
        .item-lista-pedido {
          font-size: 14px;
          display: flex;
          flex-direction: row;

          width: 1050px;
          height: 50px;
          border-radius: 6px;
          background: #f0f0f0;
          margin-bottom: 20px;
          padding: 12px;
          transition: transform 0.2s ease, box-shadow 0.2s ease;

          list-style: none;
        }

        .pedidos-infos {
          display: grid;
          grid-auto-flow: row;
          align-items: center;
          grid-template-columns:
           3%
            9.2%
            19.5%
            27.5%
            10%;
            gap: 20px;

            .lab-ped-id{
          max-width: 30px;
        }

         .lab-ped-entrega {

         }

         .lab-ped-nome {
          min-width: 80px;
            max-width: 80px;
            text-align: center;
         }

          .lab-ped-endereco {
            min-width: 150px;
            max-width:  150px;
            text-align: center;
          }

         .lab-ped-emissao {

         }
        }
        label {
          min-width: 250px;
          max-width: 250px;
          
        }

        .item-lista-pedido:hover {
          transform: scale(1.001);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          background-color: #dfdfdf;
        }

        .checkbox-pedido {
          margin-right: 15px;
          transform: scale(1.2);
          border: 2px solid #4a90e2;
          border-radius: 6px;
          background-color: #fff;
          cursor: pointer;
          position: relative;
          transition: background-color 0.2s ease, border-color 0.2s ease;
        }
      }
    }
  }
}
