@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/Helvetica.ttf") format("truetype");
}

.pagina-principal-pedido {
  height: auto;
  background: #d9f0ff url("/assets/images/fundo.png") repeat;
  background-size: 80px 80px;
  background-blend-mode: normal, plus-lighter;

  main {
    display: flex;
    flex-direction: row;
    width: 1350px;
    height: 600px;

    background: #fff;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin-left: 100px;
    margin-top: 138px;

    .main-02 {
      .lista-pedido-topo {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 40px;
        .titulo {
          color: #293241;
          font-family: helvetica, sans-serif;
          font-size: 35px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .ferramentas {
          margin-left: 680px;
        }
      }

      .lista-pedido {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 490px;
        margin-top: 40px;
        margin-left: 40px;

        input {
          border-radius: 5px;
          margin-right: 20px;
        }
        .info-item-lista-pedido {
          padding-left: 38px;
          margin-bottom: 20px;
          display: grid;
          grid-auto-flow: column;
          column-gap: 1rem;
          align-items: center;

          grid-template-columns:
            3.4%
            19%
            15.5%
            35%
            3.5%;
          label {
            text-align: center;
            white-space: nowrap;
          }
        }
        .item-lista-pedido {
          width: 1050px;
          height: 50px;
          border-radius: 6px;
          background: #f0f0f0;
          margin-bottom: 20px;
          padding: 12px;
          transition: transform 0.2s ease, box-shadow 0.2s ease;

          list-style: none;

          display: flex;
          flex-direction: row;
          text-align: center;

          .input-ped-edit-entrega {
            max-width: 160px;
            margin-left: 75px;
          }

          .input-ped-edit-end {
            max-width: 160px;
            margin-left: 76px;
          }

          select {
            margin-left: 2px;
            border-radius: 6px;
            margin-left: -2px;
          }
        }

        .pedidos-infos {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-template-columns:
            1%
            20%
            24%
            30%
            auto;
          gap: 35px;
          label {
            font-size: 14px;
            display: inline-block;
            white-space: nowrap;

            overflow: auto;
          }

          label::-webkit-scrollbar {
            height: 4px;
          }
          label::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
          }

          label::-webkit-scrollbar-track {
            background: transparent;
          }

          .pedido-infos-id {
            min-width: 25px;
            max-width: 25px;
            text-align: center;
          }

          .pedido-infos-entrega {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
          }

          .pedido-infos-nome {
            min-width: 180px;
            max-width: 180px;
            text-align: center;
          }

          .pedido-infos-endereco {
            min-width: 230px;
            max-width: 230px;
            text-align: center;
          }

          .pedido-infos-emissao {
            min-width: 90px;
            max-width: 90px;
            text-align: center;
          }
        }

        .item-lista-pedido:hover {
          transform: scale(1.001);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          background-color: #dfdfdf;
        }

        .checkbox-pedido {
          margin-right: 15px;
          transform: scale(1.2);
          border: 2px solid #4a90e2;
          border-radius: 6px;
          background-color: #fff;
          cursor: pointer;
          position: relative;
          transition: background-color 0.2s ease, border-color 0.2s ease;
        }
      }
    }
  }
}
