@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/Helvetica.ttf") format("truetype");
}

.pagina-principal {
  height: auto;
  background: #d9f0ff url("/assets/images/fundo.png") repeat;
  background-size: 80px 80px;
  background-blend-mode: normal, plus-lighter;

  main {
    display: flex;
    flex-direction: row;
    width: 1350px;
    height: 600px;
    flex-shrink: 0;

    background: #fff;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin-left: 100px;
    margin-top: 138px;

    .main-02 {
      .lista-cliente-topo {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 40px;
        .titulo {
          color: #293241;
          font-family: helvetica, sans-serif;
          font-size: 35px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .ferramentas {
          margin-left: 680px;
        }
      }

      .lista-cliente {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 490px;
        margin-top: 40px;
        margin-left: 40px;

        input {
          border-radius: 5px;
          margin-right: 20px;
        }
        .info-item-lista {
          padding-left: 38px;
          margin-bottom: 20px;
          display: grid;
          grid-auto-flow: column;
          column-gap: 1rem;
          align-items: center;

          grid-template-columns:
            5%
            20%
            25.5%
            9.7%
            8%
            8%
            10%;
          label {
            text-align: center;
          }
        }
        .item-lista {
          width: 1050px;
          height: 50px;
          border-radius: 6px;
          background: #f0f0f0;
          margin-bottom: 20px;
          padding: 12px;
          transition: transform 0.2s ease, box-shadow 0.2s ease;

          list-style: none;

          display: flex;
          flex-direction: row;
          text-align: center;
        }
        .cliente-infos {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-template-columns: 2.5% 17% 24% 8% 8% 3.2% auto;
          gap: 35px;

          label {
            font-size: 14px;
            display: inline-block;
            white-space: nowrap;

            overflow: auto;
          }

          label::-webkit-scrollbar {
            height: 4px;
          }
          label::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
          }

          label::-webkit-scrollbar-track {
            background: transparent;
          }
          .cliente-infos-id {
            min-width: 25px;
            max-width: 35px;
            text-align: center;
          }

          .cliente-infos-nome {
            min-width: 180px;
            max-width: 200px;
            text-align: center;
          }

          .cliente-infos-email {
            min-width: 260px;
            max-width: 260px;
            text-align: center;
          }

          .cliente-infos-telefone {
            min-width: 90px;
            max-width: 90px;
            text-align: center;
          }
          .cliente-infos-celular {
            min-width: 90px;
            max-width: 90px;
            text-align: center;
          }
          .cliente-infos-tipo_documento {
            min-width: 37px;
            max-width: 20px;
            text-align: center;
          }
          .cliente-infos-numero_documento {
            min-width: 100px;
            max-width: 100px;
            text-align: center;
          }
        }
        .item-lista:hover {
          transform: scale(1.001);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          background-color: #dfdfdf;
        }

        .checkbox-cliente {
          margin-right: 15px;
          transform: scale(1.2);
          border: 2px solid #4a90e2;
          border-radius: 6px;
          background-color: #fff;
          cursor: pointer;
          position: relative;
          transition: background-color 0.2s ease, border-color 0.2s ease;
        }
      }
    }
  }
}
