.page-app {
  display: flex;
  flex-direction: column;

  background-image: url("/assets/images/fundo.png");
  background-color: #ffffff;
  background-repeat: repeat;
  background-size: 100px 100px;
  background-blend-mode: normal, plus-lighter;

  .carrossel {
    display: flex;
    flex-direction: row;
  }

  .fale-conosco {
    color: white;
    display: flex;
    width: auto;
    padding: 76px 0px 57px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 100px;
    margin-top: 50px;
    background-blend-mode: plus-darker;

    background: rgba(3, 49, 140, 0.863);

    .fale-conosco-titulo {
      font-size: 24px;
    }
    .telefone {
      font-size: 48px;
    }
  }
}
